In [ ]:
pip install geopandas

Collecting geopandas
  Downloading geopandas-0.9.0-py2.py3-none-any.whl (994 kB)
     |████████████████████████████████| 994 kB 27.8 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.20-cp37-cp37m-manylinux1_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 35 kB/s
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 26.5 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.5.30)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.2)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.9.0 munch-2.5.0 pyproj-3.2.1

In [ ]:
import pandas as pd
import numpy as np
import io
import datetime as dt
import geopandas as gpd

In [ ]:

shp = gpd.read_file('/content/drive/MyDrive/Machine Learning For Cities/final/lion/lion.shp')

In [ ]:
count= pd.read_csv('/content/drive/MyDrive/Machine Learning For Cities/final/traffic_count.csv')

In [ ]:
count.head()

   Unnamed: 0  ID  Segment ID  ... 10:00-11:00PM 11:00-12:00AM daily_volume
0           0   1       15540  ...          42.0          42.0       1529.0
1           1   2       15540  ...          42.0          35.0       1424.0
2           2   3       15540  ...          56.0          43.0       1574.0
3           3   4       15540  ...          64.0          43.0       1559.0
4           4   5       15540  ...          55.0          54.0       1659.0

[5 rows x 33 columns]

In [ ]:
count.columns

Index(['Unnamed: 0', 'ID', 'Segment ID', 'Roadway Name', 'From', 'To',
       'Direction', 'Date', '12:00-1:00 AM', '1:00-2:00AM', '2:00-3:00AM',
       '3:00-4:00AM', '4:00-5:00AM', '5:00-6:00AM', '6:00-7:00AM',
       '7:00-8:00AM', '8:00-9:00AM', '9:00-10:00AM', '10:00-11:00AM',
       '11:00-12:00PM', '12:00-1:00PM', '1:00-2:00PM', '2:00-3:00PM',
       '3:00-4:00PM', '4:00-5:00PM', '5:00-6:00PM', '6:00-7:00PM',
       '7:00-8:00PM', '8:00-9:00PM', '9:00-10:00PM', '10:00-11:00PM',
       '11:00-12:00AM', 'daily_volume'],
      dtype='object')

In [ ]:
count['Date']

0        01/09/2012
1        01/10/2012
2        01/11/2012
3        01/12/2012
4        01/13/2012
            ...
36622    10/16/2019
36623    10/17/2019
36624    10/18/2019
36625    10/19/2019
36626    10/20/2019
Name: Date, Length: 36627, dtype: object

In [ ]:
count['Date']= pd.to_datetime(count['Date'])

In [ ]:
count['year']=count['Date'].dt.year

In [ ]:
count=count[['12:00-1:00 AM', '1:00-2:00AM', '2:00-3:00AM',
       '3:00-4:00AM', '4:00-5:00AM', '5:00-6:00AM', '6:00-7:00AM',
       '7:00-8:00AM', '8:00-9:00AM', '9:00-10:00AM', '10:00-11:00AM',
       '11:00-12:00PM', '12:00-1:00PM', '1:00-2:00PM', '2:00-3:00PM',
       '3:00-4:00PM', '4:00-5:00PM', '5:00-6:00PM', '6:00-7:00PM',
       '7:00-8:00PM', '8:00-9:00PM', '9:00-10:00PM', '10:00-11:00PM',
       '11:00-12:00AM','year','daily_volume','Segment ID']].dropna(subset=['daily_volume'])

In [ ]:
count2=count.groupby(by=['Segment ID','year']).mean()
count2

                 12:00-1:00 AM  1:00-2:00AM  ...  11:00-12:00AM  daily_volume
Segment ID year                              ...
202        2014     305.000000   222.000000  ...     504.000000  11459.000000
646        2012      28.250000    25.375000  ...      34.875000   3406.000000
1416       2015      61.722222    35.833333  ...      81.166667   4752.388889
1421       2012      53.750000    30.250000  ...      61.750000   5011.875000
1883       2012      57.000000    30.500000  ...      89.000000   5124.500000
...                        ...          ...  ...            ...           ...
9014764    2014    1592.222222  1049.111111  ...    2023.888889  62537.555556
9017020    2014     370.000000   260.555556  ...     535.222222  19013.555556
9017037    2014     174.222222   111.333333  ...     267.222222  13595.333333
9017039    2014     260.777778   166.888889  ...     367.777778  16730.777778
9017050    2019     359.888889   273.666667  ...     451.666667  13493.777778

[2931 rows x 25 columns]

In [ ]:
shp.columns

Index(['OBJECTID', 'Street', 'SAFStreetN', 'FeatureTyp', 'SegmentTyp',
       'IncExFlag', 'RB_Layer', 'NonPed', 'TrafDir', 'TrafSrc',
       ...
       'FromLeft', 'ToLeft', 'FromRight', 'ToRight', 'Join_ID', 'L_PD_Servi',
       'R_PD_Servi', 'TRUCK_ROUT', 'SHAPE_Leng', 'geometry'],
      dtype='object', length=122)

In [ ]:
shp['SegmentID']=shp['SegmentID'].astype(int)

In [ ]:
count['Segment ID']

0        15540
1        15540
2        15540
3        15540
4        15540
         ...
36622    37916
36623    37916
36624    37916
36625    37916
36626    37916
Name: Segment ID, Length: 36370, dtype: int64

In [ ]:
shp=shp[['SegmentID'	, 'geometry']]

In [ ]:
join=shp.merge(count2,left_on='SegmentID', right_on='Segment ID')

In [ ]:
join

      SegmentID  ...  daily_volume
0        132595  ...   6691.600000
1        132595  ...   7918.111111
2        132595  ...   8130.888889
3         81384  ...   4163.950000
4         81384  ...   4895.833333
...         ...  ...           ...
3159    9013840  ...  75824.444444
3160     218038  ...   2204.944444
3161     218038  ...   2967.666667
3162     265550  ...   1876.444444
3163     265550  ...   1792.444444

[3164 rows x 27 columns]

In [ ]:
shp.head()

   SegmentID                                           geometry
0      78126  LINESTRING (1010964.447 241812.261, 1011265.49...
1      79796  LINESTRING (1011576.687 255023.583, 1011335.15...
2      77356  LINESTRING (1011600.676 239639.743, 1011785.79...
3      77356  LINESTRING (1011600.676 239639.743, 1011785.79...
4      77356  LINESTRING (1011600.676 239639.743, 1011785.79...

In [ ]:
traffic=join.dropna(subset=['daily_volume'])

In [ ]:
traffic

      SegmentID  ...  daily_volume
0        132595  ...   6691.600000
1        132595  ...   7918.111111
2        132595  ...   8130.888889
3         81384  ...   4163.950000
4         81384  ...   4895.833333
...         ...  ...           ...
3159    9013840  ...  75824.444444
3160     218038  ...   2204.944444
3161     218038  ...   2967.666667
3162     265550  ...   1876.444444
3163     265550  ...   1792.444444

[3164 rows x 27 columns]